<form action="/add" method="POST">
  <label for="name">
    Name:
    <input type="text" name="name">
  </label>

  <label for="age">
    age:
    <input type="text" name="age">
  </label>

  <label for="qualites">
    Qualite:
    <input type="text" name="qualites">
  </label>

  <label for="password">
    password:
    <input type="text" name="password">
  </label>

  <input type="submit" name="" value="Submit">
</form>
<a href="/">Back</a>
